@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Questrial&family=Red+Hat+Text:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');

*{
  border: 0;
  margin: 0;
  padding: 0;
}

.App{
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: 400;
  background: linear-gradient(158deg, #020608 4.68%, #194152 28.17%, #1F5871 69.59%, #1D546C 91.29%);
  color: #fff;
  width: 100%;
}